# Mac OS
.DS_Store

# NPM
/node_modules
npm-*

# generated locale files
/locales

# generated build files
/dist
.idea/.gitignore
.idea/modules.xml
.idea/scratch-l10n.iml
.idea/vcs.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/jsLinters/jshint.xml
